TEST_PROMPT=ဝင်းစုစုမျိုးဆီ ၄၀၀၀၀၀၀ လွှဲပေးပါဦး
INTENT_THRESHOLD=0.5
EPOCHS=30

TRAINING_DATASIZE=1014
TRAINING_FILE=./_datasets/training_${TRAINING_DATASIZE}.json
VALIDATION_SIZE=0.15

SAVED_MODEL_NAME_PREFIX=banking_nlu_model_02
SAVED_MODEL_PATH=./_saved/${SAVED_MODEL_NAME_PREFIX}_d${TRAINING_DATASIZE}_e${EPOCHS}.pt

INTENT_META_FILE=./metadata/intents.json
ENTITY_META_FILE=./metadata/entities.json

TESTING_DATASIZE=208
TESTING_FILE=./_datasets/testing_${TESTING_DATASIZE}.json

EVALUATION_FILE=./_evaluations/evaluation_${SAVED_MODEL_NAME_PREFIX}_t${TESTING_DATASIZE}.json

TRAIN_JSON=./_datasets/train.json
VALIDATE_JSON=./_datasets/validate.json